server:
  port: '8080'
  host: '0.0.0.0'

storage:
  s3:
    accessKeyId: 'AKIAIOSFODNN7EXAMPLE'
    secretAccessKey: 'wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY'
    bucket: 'my-bucket'
    region: 'us-east-1'